---
layout: layouts/base.njk
title: Page Not Found
permalink: /404.html
---

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mt-5 text-center">
        <div class="card-body">
          <h1 class="display-1 text-muted">404</h1>
          <h2 class="card-title">Page Not Found</h2>
          <p class="card-text">Sorry, the page you are looking for could not be found.</p>
          <a href="/" class="btn btn-primary">Return to Homepage</a>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Recent Posts</h5>
          <ul class="list-unstyled">
            {%- for post in collections.posts | reverse | slice(0, 5) %}
            <li class="py-1"><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {%- endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {% include "sidebar.njk" %}
    </div>
  </div>
</div>
