---
layout: layouts/base.njk
pagination:
  data: collections.archives
  size: 1
  alias: archive
permalink: /{{ archive.key }}/
eleventyComputed:
  title: "{{ archive.label }}"
---

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="primary" class="content-area">
        <main id="main" class="site-main">
          <h1 class="mb-4">{{ archive.label }}</h1>
          {%- for post in archive.posts %}
          <article class="card mt-5">
            <div class="card-body">
              <header class="entry-header">
                <h2 class="entry-title card-title h3"><a href="{{ post.url }}" class="text-dark">{{ post.data.title }}</a></h2>
                <div class="entry-meta text-muted">
                  <span class="posted-on">{{ post.date | date("MMMM d, yyyy") }}</span>
                </div>
              </header>
              {%- if post.data.excerpt %}
              <div class="entry-summary mt-3">
                <p>{{ post.data.excerpt }}</p>
                <a href="{{ post.url }}" class="btn btn-primary btn-sm">Continue Reading</a>
              </div>
              {%- endif %}
            </div>
          </article>
          {%- endfor %}
        </main>
      </div>
    </div>
    <div class="col-md-4">
      {% include "sidebar.njk" %}
    </div>
  </div>
</div>
