--- 
permalink: /feed.xml
metadata:
  title: Hampshire County ASA
  subtitle: News from Hampshire County ASA
  language: en-GB
  url: https://hampshireswimming.com
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.url }}/feed.xml" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.title }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ metadata.url }}{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}{{ post.url }}</id>
    <content type="html"><![CDATA[{{ post.templateContent | safe }}]]></content>
  </entry>
  {%- endfor %}
</feed>
